@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: none; /* Ensure no text-transform is applied */
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('MathA4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Modal styles */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Change from auto to hidden */
    background-color: rgba(0, 0, 0, 0.8); /* Darker background for better contrast */
}

.modal-content {
    background-color: #fff; /* Slightly off-white for less stark contrast */
    margin: auto;
    padding: 30px;
    border: none; /* Remove border */
    border-radius: 20px; /* Slightly larger radius for more rounded corners */
    width: 80%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    position: relative;
    animation: fadeIn 0.5s ease-out; /* Fade in effect */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content h2 {
    margin-bottom: 20px;
    color: #333;
    font-family: 'Great Vibes', cursive; /* Keep the fancy font */
    font-size: 28px;
}


.admin-text {
    font-size: 70px !important;                /* Make the text larger */
    font-family: "Monotype Corsiva", sans-serif; /* Use a different font family */
    font-weight: 150 !important;             /* Make the text bold */
    color: #1c8640 !important;                /* Use a vibrant color */
    text-shadow: 3px 3px 6px #3d3c3c !important; /* Add a shadow */
}

.panel-text {
    font-style: italic !important;            /* Italicize the font */
    font-size: 60px !important;               /* Use a smaller font size */
    font-family: "Georgia", serif !important; /* Use a different font family */
    font-weight: 100 !important;             /* Make the text bold */
    color: #47acff !important;                /* Use a vibrant color */
    text-shadow: 2px 2px 4px #000 !important; /* Add a shadow */
}




/* Show the active form */
.active-form {
    display: block;
}

.login-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico' ,sans-serif;
}

body .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-page h3 {
    font-size: 34px;
    color: #f7f0f0;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

.login_container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.login_container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.login_container span {
    font-size: 12px;
}

.login_container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.login_container button {
    background-color: var(--light-color);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.login_container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.login_container button.hidden:hover {
    background-color: white; /* Change background color to white on hover */
    color: #1e90ff; /* Change text color on hover */
}

.login_container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.login_container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    text-transform: none; /* Ensure no text-transform is applied */
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login_container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login_container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 20;
}

.login_container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
    background: url('Math_A.jpg') center/cover no-repeat; /* Replace with your image path */
    color: rgb(245, 251, 252); /* Hide text content */
}

.login_container.active .toggle {
    transform: translateX(50%);
    background: url('mathA.png') center/cover no-repeat; /* Replace with your second image path */
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.login_container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.login_container.active .toggle-right {
    transform: translateX(200%);
}



  .form-container img {
    margin-bottom: 20px;
  }
  
  .form-container h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form-container p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Adjusting existing CSS */
.form-container .btn-continue {
    background-color: #247936; /* Purple background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container .btn-continue:hover {
    background-color: #698821; /* Different shade for hover */
  }
  
  .form-container .btn-continue i {
    margin-right: 5px;
  }
  
  
  
  
  .btn-continue i {
    margin-right: 5px;
  }
  
  .separator {
    width: 100%; /* Set width of the separator to 100% */
    height: 1px; /* Set height of the separator */
    background-color: #ccc; /* Set color of the separator */
    margin: 5px 0; /* Adjust margin as needed */
}
  